.contacto {
    background-image: url(../assets/img/fondo.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px;

    .titulo-contacto {
        @extend %titulo-pagos;
        margin-left: 10px;
    }

    .container-contacto {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 45px;

        .contacto-box {
            max-width: 860px;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(2, 1fr);
            border-radius: 30px;
            margin-top: 30px;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: $color-sec;
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

            .left iframe {
                padding: 10px 10px 0 20px;
                width: 100%;
                height: 470px;
            }

            .right {
                padding: 25px 40px;

                .subtitulo-contacto {
                    position: relative;
                    padding: 0 0 10px;
                    margin-top: 10px;
                    margin-bottom: 10px;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        transform: translateX(-50%);
                        height: 4px;
                        width: 50px;
                        border-radius: 2px;
                        background-color: #9e5cca;
                    }
                }

                .field {
                    width: 100%;
                    border: 2px solid rgba(0, 0, 0, 0);
                    outline: none;
                    border-radius: 15px;
                    background-color: rgba(230, 230, 230, 0.6);
                    padding: .5rem 1rem;
                    margin-bottom: 22px;
                    transition: .3s;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.205);
                    }

                    &:first-of-type {
                        margin-top: 15px;
                    }

                    &:focus {
                        border: 2px solid #9e5cca;
                        background-color: $color-sec;
                    }
                }

                .textarea {
                    min-height: 150px;
                }

                .btn-contacto {
                    width: 100%;
                    padding: .5rem 1rem;
                    background-color: #c081eb;
                    color: $color-sec;
                    font-size: 1.1rem;
                    border-radius: 15px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    transition: .3s;

                    &:hover {
                        background-color: #9e5cca;
                        color: $color-sec;
                    }
                }
            }
        }
    }
}