.login {
    background-image: url(../assets/img/fondo.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px;

    .box-area {
        width: 930px; 

        .bienvenido {
            color: #10131d;
        }
    }

    .right-box {
        padding: 40px 30px 40px 40px;
    
        #correo {
            border-width: 2px;
            border: 2px solid #ced4da;
            border-radius: 10px;
        }

        #contraseña {
            border-width: 2px;
            border: 2px solid #ced4da;
            border-radius: 10px;
        }
        

        #form-check {
            border-width: 2px;
        }

        ::placeholder {
            font-size: 16px;
        }
    }
}